atomicwrites==1.2.1
attrs==18.2.0
babelfish==0.5.5
beautifulsoup4==4.6.3
colorama==0.3.7
feedparser==5.2.1
Flask==0.10.1
guessit==2.0.4
gunicorn==19.4.5
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
more-itertools==5.0.0
pluggy==0.8.0
py==1.7.0
pytest==4.0.2
python-dateutil==2.5.1
rebulk==0.7.1
requests==2.9.1
six==1.10.0
ss==1.6.0
virtualenv==15.0.1
Werkzeug==0.15.3
